.DS_Store
frontend/node_modules/
frontend/dist/*
!frontend/dist/favicon*.ico
frontend/lib/
frontend/stuff/
.venv/
.vscode/
backend/*.egg-info/
backend/**/__pycache__
*.pyc
/entities.csv
/top10.csv
/error.log
/git_revision.txt
cookie_secret
jwt_secret
/session_data
/lama.db
/lama.db.*
/lama_users.*
/resps.db
/resps.db.*
/dumps/
/snippets/
/reports/
# scripts/lots_of_triples.py inputs
/cats.json
/entities_cat.csv
/gnd_wiki.csv
/mb_authority.json
/mb_relations.csv
/wikiwiki.csv
/cats_relations_mapping.json
